{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Car2Care</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	
	<meta name="google-site-verification" content="qOXtbB40s4ZiUl5mml1-1J2EagNACUk5k" />
	

	
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/captcha.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/single.css' %}" type="text/css" media="all" />
	
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	

</head>

<body>
	<header>
		<!-- navigation -->
		<div class="main-top py-0">
			<nav class="navbar navbar-expand-lg navbar-light fixed-navi">
				<div class="container-fluid">
                    <div style="text-decoration:underline; color:rgb(197, 100, 116)">
					<h2 style="text-decoration:overline ;color: black;">Car<span style="color: rgb(156, 67, 82);" >2Care</span></h2>
                </div>
					
					<div class="collapse navbar-collapse text-center mr-2" id="navbarSupportedContent">
						<ul class="navbar-nav ml-lg-auto">
							<li class="nav-item mx-xl-5 mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="dashboard">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="service">Services
									<span class="sr-only"></span>
								</a>
							</li>
							<li class="nav-item mx-xl-5 mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="BodyShop">BodyShop</a>
							</li>
							
							<li class="nav-item mt-lg-0 mt-3">
								<a class="nav-link" href="Contact">About Us</a>
							</li>
							
						</ul>
					</div>
					
				</div>
			</nav>
		</div>
        
		<!-- //navigation -->
	</header>
	
	
	<div class="main-w3pvt">
		<div class="container-fluid">
            
			<div class="row">
				<div class="col-lg-5 pt-sm-5 d-flex align-items-center justify-content-center px-5 ">
                    
					<div class="comment-top formBoxShadow">
						<img style="width:110%;" alt="Car Wash" 
                            src="{% static 'images/periodicservice.jpg' %}">	
						<form id="selectBrandModel">
                            <img style="width:110%;" alt="Car Wash" 
                            src="{% static 'images/washingdetailing.jpg' %}">	
                        </form>
					</div>
				</div>
				<div class="col-lg-7 banner-img d-none d-lg-block">
                    <br><br>

					<img style="width:90%; " src="{% static 'images/homenew.jpg' %}" class="homeImg">
				</div>

			</div>
		</div>
	</div>
	



	<section class="w3l-features-4 w3l-promocode">
        <div class="features4-block promo-block text-center py-1">
            <div class="container py-md-5 py-3">
                <h3 class="title-main-2 text-center mx-auto mb-sm-4 mb-2" style="max-width:600px">Benefit from digital repair management</h3>
                <div class="col-lg-9 mx-auto mt-5">
                    <div class="row features4-grids justify-content-center mb-4">
                        <div class="col-lg-6 col-md-6">
                            <div class="media text-left">
                                <img class="icon--large d-flex align-self-start mr-3" src="https://website-assets.imgix.net/icon/boost_customer_satisfaction_outline.svg?q=80&amp;auto=format,compress&amp;w=50&amp;h=50" alt="thumb">
                              <div class="media-body">
                                <h5 class="text-dark mb-2"><b>Boost customer satisfaction</b></h5>
                                <p>Offer a frictionless repair journey attuned to today’s digital standards</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-md-0 mt-2">
                            <div class="media text-left">
                                <img class="icon--large d-flex align-self-start mr-3" src="https://website-assets.imgix.net/icon/reduce_cycle_time_outline.svg?q=80&amp;auto=format,compress&amp;w=50&amp;h=50" alt="cycle time">
                              <div class="media-body">
                                <h5 class="text-dark mb-2"><b>Reduce cycle times</b></h5>
                                <p>Streamline workflows and minimise manual activities</p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row features4-grids justify-content-center">

                        <div class="col-lg-6 col-md-6 mt-lg-0 mt-2">
                            <div class="media text-left">
                                <img class="icon--large d-flex align-self-start mr-3" src="https://website-assets.imgix.net/icon/lower_repair_costs_outline.svg?q=80&amp;auto=format,compress&amp;w=50&amp;h=50" alt="lower costs">
                              <div class="media-body">
                                <h5 class="text-dark mb-2"><b>Experience full control</b></h5>
                                <p>Save costs while safeguarding repair quality</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-lg-0 mt-2">
                            <div class="media text-left">
                                <img class="icon--large d-flex align-self-start mr-3" src="https://website-assets.imgix.net/icon/unlock_realtime_insight_outline.svg?q=80&amp;auto=format,compress&amp;w=50&amp;h=50" alt="growth">
                              <div class="media-body">
                                <h5 class="text-dark mb-2"><b>Lower repair costs</b></h5>
                                <p>Gain unique real-time data insight at every step of the way</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



	<!-- services -->
	<section class="banner-bottom-w3layouts bg-light py-3" id="services">
		<div class="container-fluid pl-5 pr-5 py-xl-5 py-lg-3">
			
			<div class="row">
				<div class="col-lg-4"><br/>
					<h3 class="title-w3 mb-sm-5 mb-4 text-dark font-weight-bold">Car Services We Provide</h3>
					<p class="title-para mx-auto mb-sm-5 mb-4">Find the best car service packages for your car. Select from a wide range of car repairs & services, from general service, car wash, accidental repair to custom repairs, cashless insurance claims, and much more.
					</p>
				</div>
				<div class="col-lg-8">
					<div class="row pt-sm-4">
					
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div  class="card-body">
								<img style="width:60%;" alt="Car Wash" 
									src="{% static 'images/washingdetailing.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> car wash</h5>
								
							</div>
						</div>
					</div>
					

					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="wheel care" 
									src="{% static 'images/wheelcare.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> wheel care</h5>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="car ac repair" 
									src="{% static 'images/acrepair.jpg' %}">
									<h5 class="card-title mb-3"style="font-weight:lighter ;"> car ac repair</h5>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="car batteries" src="{% static 'images/batteriessupport.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> car battery</h5>
								
							</div>
						</div>
					</div>
					</div>

					<div class="row mt-lg-4">
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="denting & painting" 
									src="{% static 'images/dentingpainting.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> denting & painting </h5>
								
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="custom repairs" 
									src="{% static 'images/customrepairs.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> custom repairs </h5>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="periodic service" 
									src="{% static 'images/periodicservice.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> periodic service</h5>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6 about-in text-center">
						<div class="card">
							<div class="card-body">
								<img style="width:60%;" alt="insurance claim" 
									src="{% static 'images/insuranceclaim.jpg' %}">
									<h5 class="card-title mb-3" style="font-weight:lighter ;"> insurance claim</h5>
								
							</div>
						</div>
					</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="join-w3l1 py-3">
		<div class="container-fluid pl-5 pr-5 py-xl-5 py-lg-3">
			<h3 class="title-w3 title-w3-3 mb-sm-5 mb-4 text-dark font-weight-bold">Car2Care Features</h3>
			<div class="row join-agile2 pt-md-5 pt-4 text-center">
				<div class="col-md-3 steps-reach-w3l text-center">
					<img style="width: 300px;height: 200px;" src="{% static 'images/affordable.png' %}" alt="" />
					<p class="mt-3">Reliable and Affordable </p>
					<h6>Car2Care's expert car mechanics will meet your vehicle service needs at an affordable rate. Our affordable prices will satisfy any budget without compromising quality.</h6>
				</div>
				<div class="col-md-3 steps-reach-w3l text-center my-md-0 my-4">
					<img style="width: 300px;height: 200px;" src="{% static 'images/experience.png' %}" alt="" />
					<p class="mt-3">Experienced and Trained</p>
					<h6>Car2Care has been servicing cars since 2016, so we've seen it all! We are equipped to handle any situation whether it's a routine oil change or an emergency on the side of the road.</h6>
				</div>
				<div class="col-md-3 steps-reach-w3l text-center">
					<img style="width: 300px;height: 200px;"  src="{% static 'images/quality.png' %}" alt="" />
					<p class="mt-3">Quality Repairs</p>
					<h6>We make sure our customers feel confident about their vehicles after we complete a repair or any other service on their vehicle.</h6>
				</div>
				<div class="col-md-3 steps-reach-w3l text-center">
					<img style="width: 300px;height: 200px;"  src="{% static 'images/customizable.png' %}" alt="" />
					<p class="mt-3">Customizable Scheduling </p>
					<h6>Search for a time slot near you and we'll give you a list of available time slots! No need to browse our schedule!</h6>
				</div>

			</div>
		</div>
	</div>
	<!-- //feature -->

	<div class="join-w3l1 py-3">
		<div class="container-fluid pl-5 pr-5 py-xl-5 py-lg-3">
			<h3 class="title-w3 title-w3-3 mb-sm-5 mb-4 text-dark font-weight-bold">service in 4 easy steps</h3>
			<div class="row join-agile2 text-center pt-md-5 pt-4">
				<div class="col-md-3 steps-reach-w3l text-center">
					<img  style="width: 300px;height: 200px;" src="{% static 'images/s1.jpg' %}" alt="" />
					<p class="mt-3">Select Your Car </p>
					<h6>Choose from our portfolio of cars.</h6>
					
				</div>
				<div class="col-md-3 steps-reach-w3l my-md-0 my-4 text-center">
					<img style="width: 300px;height: 200px;" src="{% static 'images/s2.jpg' %}" alt="" />
					<p class="mt-3">Free Pick-Up & Drop</p>
					<h6>Once booked, sit back and relax.</h6>
					
				</div>
				<div class="col-md-3 steps-reach-w3l text-center">
					<img style="width: 300px;height: 200px;" src="{% static 'images/s3.jpg' %}" alt="" />
					<p class="mt-3">Live Tracking</p>
					<h6>Get real-time status & updates.</h6>
				
				</div>
				<div class="col-md-3 steps-reach-w3l text-center">
					<img style="width: 300px;height: 200px;"  src="{% static 'images/s4.jpg' %}" alt="" />
					<p class="mt-3">30 Days Warranty</p>
					<h6>Stay assured. 1-month warranty on all car services & repairs.</h6>
					
				</div>

			</div>
		</div>
	</div>
	
	<section class="w3l-features-4 w3l-bottom-grids-6 py-5" >
        <div class="features4-block text-center">
            <div class="container">
                <h3 class="title-main-2 text-center mx-auto mb-sm-4 mb-2" style="max-width:600px">How it works</h3>

                <div class="grids-area-hny main-cont-wthree-fea row">
                    <div class="col-lg-4 col-md-6 grids-feature">
                        <div class="features4-grid">
                            <div class="feature-images">
                               </div>
                            <h5><a href="">1.Easy damage intake</a></h5>
                            <p>Customers file damage reports within minutes by uploading photos in Vehiclecare’s web app or via partner-preferred systems.</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                        <div class="features4-grid">
                            <div class="feature-images">
                                </div>
                            <h5><a href="">2.Digital assessment</a></h5>
                            <p>Vehiclecare’s systems review damage reports and enrich them with relevant data to establish clear repair requirements.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                        <div class="features4-grid">
                            <div class="feature-images">
                                 </div>
                            <h5><a href="">3.Accurate repair allocation</a></h5>
                            <p>Repairs are steered intelligently or tendered in a vast, dynamic and personalised repairer network through smart ‘matchmaking’

                             .</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                        <div class="features4-grid">
                            <div class="feature-images">
                                </div>
                            <h5><a href="">4.Optimised authorisation</a></h5>
                            <p>Claim handlers review offers and authorise repairs to the most suitable body repair shop
                              for the job.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                        <div class="features4-grid">
                            <div class="feature-images">
                                 </div>
                            <h5><a href="">5.Convenient planning</a></h5>
                            <p>Customers plan their repair appointments
                                          on dates that fit their schedule in just
                                  a few clicks.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                        <div class="features4-grid">
                            <div class="feature-images">
                                </div>
                            <h5><a href="">6. Insightful repairs</a></h5>
                            <p>Customers receive updates throughout the process and provide feedback which offers valuable network and NPS insight.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<div class="bottom-w3pvt pb-lg-5 py-lg-0 py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-sm-5 mb-4 text-dark font-weight-bold">Car Service Price List</h3>
			<table class="table table-striped">
				<tbody>
					<tr><th>Service</th><th>Price</th></tr>
					<tr><td>Basic Service</td><td>1800</td></tr>
					<tr><td>Standard Service</td><td>3000</td></tr>
					<tr><td>Comprehensive Service</td><td>5000</td></tr>
					<tr><td>AC Gas CheckUp</td><td>1200</td></tr>
					<tr><td>AC Service</td><td>2500</td></tr>
					<tr><td>Wheel Alignment</td><td>280</td></tr>
					<tr><td>Wheel Balancing</td><td>300</td></tr>
					<tr><td>Ceramic Coating</td><td>12500</td></tr>
					<tr><td>Rubbing Polishing</td><td>900</td></tr>
					<tr><td>Complete Car wash</td><td>500</td></tr>
					<tr><td>Interior Cleaning</td><td>1000</td></tr>
					<tr><td>Full Body Dent Paint</td><td>20000</td></tr>
					<tr><td></td> <a href="service"><button  class="btn btn-outline-danger citySelect selectedCity" data-toggle="modal" data-target="#city">Please Check Services Here</button></a>
					 </td></tr>

				
				</tbody>
			</table>

		</div>
	</div>
	

	<!-- brand we serve -->
	<div class="blog-w3ls py-5 bg-light border-bottom">
		<div class="container-fluid pl-5 pr-5 py-xl-5 py-lg-3 partner brandList">
			<h3 class="title-w3 mb-sm-5 mb-4 text-dark font-weight-bold">Brand We Serve</h3>
			<ul class="list-unstyled brands text-center pt-5">
				<li><img style="width: 150px; ;height: 100px;" src="{% static 'images/bentley.jpg' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/dodge.jpg' %}" class="partnerImg">

				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (1).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (2).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (3).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (4).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (5).png' %}" class="partnerImg"></li>
			</ul>
			<br><br>
			<ul class="list-unstyled brands text-center">
				<li></li><img style="width: 150px; ;height: 100px;" src="{% static 'images/infiniti.jpg' %}" class="partnerImg">

				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (6).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (7).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (8).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (9).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (10).png' %}" class="partnerImg"></li>
			</ul> <br> <br>
			<ul class="list-unstyled brands text-center">
				<li>	<img style="width: 150px; ;height: 100px;" src="{% static 'images/lamborghini.jpg' %}" class="partnerImg">

				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (11).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (12).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (13).png' %}" class="partnerImg">
				<img style="width: 150px; ;height: 100px;" src="{% static 'images/vehiclecareb (14).png' %}" class="partnerImg"></li>
			</ul>
		</div>
	</div>
	<!-- //brand we serve -->


	<style>
	.cityCells img{
		border-radius: 100%;
		width: 50px;
		height: 50px;
		margin: 8px 0px 8px 0px;
	}
</style>
<div class="modal fade" id="city" tabindex="-1" role="dialog" aria-labelledby="cityLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content p-3">
		
		<!-- Modal Header -->
		<div class="modal-header">
			<h4 class="modal-title">Select City</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		
		<!-- Modal body -->
		<div class="modal-body">
			<div class="row text-center" id="cityCells"></div>
		</div>
			
		</div>
	</div>
</div>

<!-- footer -->
<footer>
	<div class="w3ls-footer-grids py-4" id="footer" style="background: url('images/vehiclecaerfooter.png');">
		<div class="container py-xl-2 py-lg-3">
			<div class="row">
				<div class="col-lg-12 text-center mb-4">
					
					
					
				</div>
				
				<!-- button -->
				<div class="col-lg-6 w3l-footer text-lg-right text-center mt-3 isHidden">
					<h5 class="text-left footerHeading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Popular Searches</h5>
					<div class="row">
						<ul class="list-unstyled footer-nav-wthree col-lg-6" id="popularSearchDom">
							<li class="mr-4"><a class="" href="#">Car Brands</a> </li>
							<li class="mr-4"><a class="" href="#">ShowRoom</a> </li>
							<li class="mr-4"><a class="" href="#">Price</a> </li>
							<li class="mr-4"><a class="" href="#">Travel</a> </li>

						</ul>
						
					</div>
				</div>

				<div class="col-lg-3 w3l-footer text-lg-right text-center mt-3">
					<h5 class="text-left footerHeading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Popular Services</h5>
					<ul class="list-unstyled footer-nav-wthree">
							<li class="mr-4"> <a class="" href="#">All Service</a></li>
							<li class="mr-4"> <a class="" href="#">General Service</a></li>
							<li class="mr-4"> <a class="" href="#">Custom Repairs</a></li>
							<li class="mr-4"> <a class="" href="#">Car Cleaning</a></li>
							<li class="mr-4"> <a class="" href="#">AC/Heater Service</a></li>
							<li class="mr-4"> <a class="" href="#">Denting And Painting</a></li>
					</ul>
				</div>
				<!-- //button -->
				
				<div class="col-lg-3 w3l-footer text-lg-right text-center mt-3">
					<h5 class="text-left footerHeading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company</h5>
					<ul class="list-unstyled footer-nav-wthree">
							<li class="mr-4"> <a class="" href="">About</a></li>
							<li class="mr-4"> <a class="" href="">Faq</a></li>
							<li class="mr-4"> <a class="" href="">Careers</a></li>
							<li class="mr-4"> <a class="" href="">Contact Us</a></li>
							<li class="mr-4"> <a class="" href="">Term & Conditions</a></li>
							<li class="mr-4"> <a class="" href="">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="pt-lg-4 pt-3 text-center">
				<!-- copyright -->
				<p class="copy-right-grids mt-lg-1">© <script>document.write(new Date().getFullYear())</script> All Rights Reserved |
					Car2Care</a>
				</p>
				<!-- //copyright -->
			</div>
		</div>
	</div>
</footer>



	<style>
.nav-link :hover{
color: #ed3237;
}

		#primeModal .modal-content,
		#primeModal .modal-footer
		{
			background: transparent;
			text-align: center;
			border: none;
		}
		#primeModal img {
			width: 70%;
		}
	</style>
	
	<style>
		@media (min-width: 768px) {

		    /* show 3 items */
		    .carousel-inner .active,
		    .carousel-inner .active + .carousel-item,
		    .carousel-inner .active + .carousel-item + .carousel-item {
		        display: block;
		    }
		    
		    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
		    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
		    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
		        transition: none;
		    }
		    
		    .carousel-inner .carousel-item-next,
		    .carousel-inner .carousel-item-prev {
		      position: relative;
		      transform: translate3d(0, 0, 0);
		    }
		    
		    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
		        position: absolute;
		        /*top: 0;*/
		        right: -33.3333%;
		        z-index: -1;
		        display: block;
		        visibility: visible;
		    }
		    
		    /* left or forward direction */
		    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
		    .carousel-item-next.carousel-item-left + .carousel-item,
		    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
		    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
		        position: relative;
		        transform: translate3d(-100%, 0, 0);
		        visibility: visible;
		    }
		    
		    /* farthest right hidden item must be abso position for animations */
		    .carousel-inner .carousel-item-prev.carousel-item-right {
		        position: absolute;
		        /*top: 0;*/
		        left: 0;
		        z-index: -1;
		        display: block;
		        visibility: visible;
		    }
		    
		    /* right or prev direction */
		    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
		    .carousel-item-prev.carousel-item-right + .carousel-item,
		    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
		    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
		        position: relative;
		        transform: translate3d(100%, 0, 0);
		        visibility: visible;
		        display: block;
		        visibility: visible;
		    }

		}

		.carousel-inner .carousel-item-right.active,
		.carousel-inner .carousel-item-next {
		  transform: translateX(33.33%);
		}

		.carousel-inner .carousel-item-left.active, 
		.carousel-inner .carousel-item-prev {
		  transform: translateX(-33.33%)
		}
		  
		.carousel-inner .carousel-item-right,
		.carousel-inner .carousel-item-left{ 
		  transform: translateX(0);
		}

		.carousel-control-prev {
		    left: 0;
		    width: 30px;
		    height: 35px;
		    vertical-align: middle;
		    color: white !important;
		    background: #ed3237;
		    font-size: 12px;
		    font-weight: 500;
		}

		.carousel-control-next{
			right: 0;
		    width: 30px;
		    height: 35px;
		    vertical-align: middle;
		    color: white !important;
		    background: #ed3237;
		    font-size: 12px;
		    font-weight: 500;
		}

		i.fa.fa-chevron-right.fa-lg.text-muted , i.fa.fa-chevron-left.fa-lg.text-muted{
			color: white !important;
		}

	</style>
</body>

</html>
